.sign-in-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/Personal.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Aldrich', sans-serif;
}
.sign-in-box h1 {
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(65, 65, 65, 0.588);
  width: 100%;
}
.sign-in-box {
  width: 350px;
  height: 300px;
  background-color: #f2f2f271;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 15px rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-top: 30px;
}

.sign-in-box button {
  position: relative;
  align-self: center;
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #ffffffa8;
  border-radius: 30px;
  border: 1px solid black;
}

.sign-in-box button:hover {
  background-color: #00000080;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.sign-in-box form p {
  padding-top: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

.sign-in-box form p a {
  color: rgb(174, 174, 174);
  text-decoration: none;
}

.sign-in-box span {
  padding-top: 10px;
  width: 100%;
  display: flex;
}

.sign-in-box span input {
  flex: 1;
  margin-left: 20px;
}

.sign-in-box form .email {
  margin-left: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 428px) {
  .sign-in-box {
    max-width: 60%;
  }
  .sign-in-box h1 {
    font-size: 1.2rem;
  }
  .sign-in-box span input {
    margin-left: 5px;
    font-size: 12px;
  }
  .sign-in-box span {
    display: inline;
    gap: 0;
    font-size: 12px;
  }
  .sign-in-box span input {
    margin-left: 5px;
  }

  .sign-in-box form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .sign-in-box form input {
    width: 50px;
  }
}
