* > .dashboard-container {
  font-weight: bold;
}
.dashboard-container h1 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
input {
  margin-bottom: 10px;
}
.dashboard-container,
.out {
  height: 100vh;
  width: 100%;
  background: url('../../assets/Personal.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Aldrich', sans-serif;
}
.out a {
  color: white;
  text-decoration: none;
}
.dashboard-container .both {
  background-color: rgba(255, 255, 255, 0.405); /* Slightly transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 10px; /* Rounded corners */
  width: 80%;
}
.dashboard-container form {
  text-align: center;
}
button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #ffffffa8;
  border-radius: 30px;
  border: 1px solid black;
  margin-bottom: 20px;
}
button:hover {
  background-color: #00000080;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
