* > .dashboard-container {
  font-weight: bold;
}

.dashboard-container h1 {
  font-size: 2.2rem;
  margin-top: 2rem;
}

.onlyinputs input {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.634);
  border: none;
  font-size: 20px;
  color: white;
}

.onlyinputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dashboard-container,
.out {
  min-height: 100vh;
  width: 100%;
  background: url('../../assets/Personal.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Aldrich', sans-serif;
}

.out a {
  color: white;
  text-decoration: none;
}

.dashboard-container .both {
  background-color: rgba(255, 255, 255, 0.405);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 80%;
}

.dashboard-container form {
  text-align: center;
}

.dashboard-container .navbtns button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #ffffffa8;
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 20px;
  font-size: 15px;
}

.dashboard-container .navbtns button:hover {
  background-color: #00000080;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.navbtns {
  display: flex;
  gap: 10px;
}
